{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'products/styles.css' %}">
<div class="container is-max-desktop p-4">
    <h1 class="title">Recommended Products</h1>
    <form action='reset' method='POST'>
        <button class="button is-warning" type='submit'>reset</button>
    </form>

{% if chosen %}
    <div class="card">
    <div class="card-image">
        <figure class="image is-16by9">
            <img src={{chosen.image}} alt={{chosen.product_name}}>
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
        <div class="media-content">
            <p class="title is-4">{{chosen.product_name}}</p>
            <p class="subtitle is-6">Rp.{{chosen.price}},00</p>
            <p class="subtitle is-6">{{chosen.colours}}</p>
            <p class="subtitle is-6">{{chosen.material}}</p>
        </div>
        </div>
    </div>
    </div>
{% else %}
    <p>No more products are available.</p>
{% endif %}
</div>